body {
    background-color: blue;


    display: flex;             
    justify-content: center;
    align-items: center;
    margin-top: 320px;
    gap: 40px;               
}

#outerdiv, #outerdiv2 {
    background-color: aliceblue;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
}

#innerdiv1, #innerdiv2 {
    width: 100%;
}

#email, #password {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    padding: 5px;
}

#email input,
#password input,
.input-box input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}

.input-box {
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}

label {
    display: block;
    margin: 10px ;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

p {
    font-size: 14px;
}