*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px ;
    justify-content: baseline;
}
.allinputs
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}

.otherinputs
{
    display: flex;
    gap: 25px;
    align-items: center;
}

.login-btn
{
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0 4px 10px grey;
}

.form-container
{
    width: 500px;
    margin: 40px;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 15px;
}

.form-container h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.form-container p {
    text-align: center;
    font-size: 10px;
    margin-bottom: 15px;

}
.row
{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.inputbox
{
    display: flex;
    flex-direction: column;
}

label
{
    margin-bottom: 5px;
}

input, select
{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.footer
{
    background-color: blue;
    color: white;
    padding: 20px;
}

.footer-container 
{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-box
{
    width: 200px;
    display: flex;
    flex-direction: column;
    
}

.footer-box h4
{
    margin-bottom: 10px;
}

.footer-box a 
{

    text-decoration: none;
    color: white;
    font-size: 15px;
}
.footer-logo 
{
    width: 80px;
    margin-bottom: 10px;
}

.footer-box p
{
    font-size: 15px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: 20px;
    padding-top: 10px;
    font-size: 12px;
}