#bulb1 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

body {
    background-color:burlywood;

}