.parent
{
    border: 1px solid #000;
    background-color: antiquewhite;
}

.child1
{
    border: 1px solid #000;
    height: 100vh;
    background-color:burlywood;
}
.header
{
    position: sticky;
    top: 10px;
    border: 1px solid #000;
    background-color: chocolate;
    padding: 20px;
    text-align: center;
}
