/* .container
{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    gap: 20px;
} */

.container
{
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 100px 100px;
}
.item
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 10px;
    .item:first-child
    {
        grid-column: 1/4;
    }

}

