* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header
{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    
}
nav 
{
    
    a
    {
        text-decoration: none;
        margin: 0px 15px;
        font-size: large;
        color: #101828;
    }


}

.right
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

    a
    {
        text-decoration: none;
        font-size: large;
        color: black;
    }
    button
    {
        font-size: medium;
        background-color: #125785;
        color: white;
        border-radius: 5px;
        padding : 10px 20px;
        cursor: pointer;
    }
}


.formSection
{
    /* border: 1px solid #000; */
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 50px 20px;
}

.formContainer
{
    /* border: 1px solid #000; */
    background-color: #EAF8FE;
    width: 700px;
    border-radius: 5px;
    padding: 10px 20px;

    h2
    {
        text-align: center;
        font-size: xx-large;
        margin: 15px 0 15px 0;
    }
    p
    {
        
        text-align: center;
        margin-bottom: 20px;
    }
}

.row
{
    display: flex;
    margin-bottom: 10px;
    gap: 15px;
    
    .inputBox
    {
        display: flex;
        flex-direction: column;
    }
    .inputBox input
    {
        border-radius: 5px;
        padding: 8px;
    }

    #name
    {
        width: 300px;
    }
     #contact
    {
        width: 300px;
    }
    #email
    {
        width: 450px;
    }
    #Qualification
    {
        width: 150px;
    }
    #college
    {
        border-radius: 5px;
        padding: 8px;
        width: 620px;
    }
    #year
    {
        border-radius: 5px;
        padding: 8px;
        width: 300px;

    }
    #checkbox 
    {
         width: 350px;
    }

}

.inputBoxRight
{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inputBox select
    {
        padding: 10px;
        border-radius: 5px;
    }
}
 

.row button
{
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: #EAF8FE;
    margin: auto;
}

.footerContainer
{
    /* border: 3px solid yellow; */
    background-color: #125785;
    padding: 20px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footerbox
{
    /* border: 3px solid yellow; */
    
    flex: 1;
    margin: 10px;

}


.footerContainer .footerbox
{

    p
    {
        color: whitesmoke;
    }
    h3
    {
        font-size: xx-large;
        color: white;
        margin-bottom: 10px;
    }

    a
    {
        /* border: 3px solid yellow; */
        display:flex;
        color: whitesmoke;
        text-decoration: none;
        font-size: large;
        margin-bottom: 10px;
        gap: 10px;
    }

    .align
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


}

@media screen  and (max-width: 1024px)
{ 
   header
   {
    /* border: 5px solid brown; */
    flex-wrap: wrap ;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    margin: 10px;
   }
   nav 
   {
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    flex-wrap: wrap;

   }

   nav a
   {
    /* border: 1px solid #000; */
    margin: 0px 10px;
    font-size: medium;
}
.right
{
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.formContainer
{
    border: 1px solid #000;
    width: 90%;
}

.row
{
    flex-wrap: wrap;
}


.inputBox , .inputBoxFull , .inputBoxRight
{
    width: 100%;
}

  #name,
  #contact,
  #email,
  #Qualification,
  #year {
    width: 100% !important;
  }

  #college {
    width: 100% !important;
  }

    .footerContainer {
    flex-wrap: wrap;
  }

  .footerbox {
    flex: 45%;
    padding: auto;
  }

 
}





@media screen and (max-width:768px)
{
   header
   {
    flex-direction: column;
    gap: 10px;
    align-items: center;
   } 
 
 .footerContainer
   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
   .footerbox
   {
    width: 70%  ;
   }
  




}


@media screen and (max-width:480px) {
    
header
{
    padding: 10px;
}
form
{
    margin-left: 10px;
}

 
}






