.bulb1
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;

}
.box
{
    width: 30px;
    height: 15px;
    border: 1px solid #000;
}
#redbox
{
    background-color: red;
}
#greenbox
{
    background-color: green;
}#Bluebox
{
    background-color: blue;
}
#parentbox
{
    display: flex;
    gap: 20px;
}