form
{
    height: 100vh;
    width: 100%;
    background-color: #B5C7FB;
    padding: 40px;
}
.container
{
    height: 550px;
    max-width: 350px !important;
    background-color: #DFE7FC;
    border: 1px solid #00000056;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .displayNumber
{
    height: 30%;
    border: 1px solid #00000054;
    border-radius: 25px 25px 0 0 ;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
    background-color: #D1E7DD;
}
.container .displaybuttons
{
    height: 70%;
    border: 1px solid #00000054;
    border-radius:0 0 25px 25px;
    background-color: #F8D7DA;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.displaybuttons .buttonsGroup
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.displaybuttons .buttonsGroup .btn
{
   background-color: #fff;
   border-radius: 50%;
   padding: 10px;
   width: 25%;
   height: 55px;
}
#lastButton
{
    background-color: #FFC107;
}
 #lastbuttonequalsto
{
    background-color:#198754;
    width: 180px;
    border: none;
    border-radius: 25px ;
    color: white;
    font-size: 20px;
}